.header {
  background-image: url("../images/backgrounds/header-bg.png");
  height: 900px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  padding: 528px 542px 133px 225px;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.header-title,
.header-slogan {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.header-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.header-description {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.header-slogan {
  font-weight: bold;
  font-size: 46px;
  line-height: 66px;
  border: 1px solid #ffffff;
  margin-top: 22px;
}

.header-slogan > div {
  display: inline-block;
}

.slogan-we {
  color: #f48e0b;
  border-right: 2px solid #f48e0b;
}

.slogan-we,
.slogan-design {
  padding: 8px 10px;
  box-sizing: border-box;
}

.awards-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  box-sizing: border-box;
}

.awards-block-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #333333;
}

.awards-block-info {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #4d4943;
  margin-top: 28px;
}

.awards-block-title,
.awards-block-info {
  text-align: center;
}

.awards-block-line {
  width: 4%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #f48e0b;
  margin: 50px 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-left: 240px;
  margin-top: 5px;
}

.menu-list > li {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin: 0 30px;
  font-size: 18px;
  line-height: 22px;
}

.menu-list-item > a {
  cursor: pointer;
  text-decoration: none;
  color: #3d3d3d;
}

.menu-list-item > a:hover {
  color: #f1b128;
}

.nav-line {
  width: 79%;
  margin: 22px 166px 0 auto;
  border: 1px solid #f48e0b;
}

.services {
  margin-bottom: 124px;
}

.services > .services-title,
.services-description {
  text-align: center;
}

.services-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #333333;
  text-transform: uppercase;
  margin: 128px 0 2px;
}

.services-description {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #4d4943;
}

.services-content {
  margin-top: 107px;
  display: flex;
  justify-content: center;
}

.services-content-img {
  width: 42%;
  display: flex;
  flex-wrap: wrap;
}

.services-content-img-block > .services-img-title {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  color: #ffffff;
  background-color: #333333;
  display: inline-block;
  padding: 14px 17px;
}

.services-content-img-block {
  position: relative;
  margin-right: 30px;
  margin-bottom: 22px;
}

.services-img-title {
  position: absolute;
  bottom: 11px;
  left: 17px;
}

.services-content-info {
  width: 38%;
  display: flex;
  flex-direction: column;
}

.services-content-info > .services-content-info-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 22px;
}

.services-content-info-name2 {
  color: #f48e0b;
}

.services-content-info-text1,
.services-content-info-text2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #505050;
}

.services-content-info-text2 {
  margin-top: 12px;
}

.services-content-info-btn {
  width: 176px;
  height: 52px;
  background: #f1ad1d;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-top: 19px;
  cursor: pointer;
}

.bg-head {
  background-image: url("../images/backgrounds/second-bg-speed.png");
  height: 380px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-head-title-block {
  margin-bottom: 60px;
}

.bg-head > div {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}

.bg-head-title-block > span:nth-child(1n) {
  color: #ffffff;
}

.bg-head-title-block > span:nth-child(2n) {
  color: #f48e0b;
}

.bg-line {
  width: 4%;
  border: 1px solid #f48e0b;
  margin: 0 auto;
}
